@import url('https://fonts.googleapis.com/css?family=Space+Mono:400,400i,700,700i');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    background-image: url(../img/background-bg.jpg);
    background-size: cover;
}

header {
    height: 10vh;
    background: rgb(135, 134, 129);
    background: linear-gradient(353deg, #00845F 29%, #72D384 100%);
    /* border-bottom-left-radius: 50% 20%;
    border-bottom-right-radius: 50% 20%; */

}

.swal2-popup {
    border: 2px solid white !important;
    text-shadow: 4px 4px 16px rgba(0, 0, 0, 0.6);
}

body.swal2-shown>[aria-hidden="true"] {
    transition: 0.1s filter;
    filter: blur(10px);
}

nav a {
    text-decoration: none;
    color: white;
}

.nav-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.dropdown-menu {
    background: linear-gradient(353deg, #00845F 29%, #72D384 100%) !important;
    border: 0.5px solid white !important;
}

.dropdown-toggle {
    color: white !important;
}

.dropdown-item {
    color: white !important;
}

.icon-add-card {
    object-fit: cover;
    width: 2rem;
}

.icon-nav-link {
    border-radius: 10%;
    color: white;
    border: 2px solid white;
    display: flex;
    align-items: center;
    padding: 0.5rem;
    gap: 0.5rem;
}

svg {
    color: white;
}

.logo {
    width: 8rem;
    height: 5rem;
    padding: 5px;
    object-fit: cover;
}

main {
    min-height: 80vh;
    background-image: url(../img/pattern-bg.png);
}

.title-debit-card {
    text-shadow: 4px 4px 16px rgba(0, 0, 0, 0.6);
    color: white;
    font-family: 'Patua One', cursive;
    /* background-color: #8c8c8c; */
    /* background: linear-gradient(353deg, rgba(135, 134, 129, 1) 29%, rgba(255, 255, 255, 1) 100%); */
}

#slider-card {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 18rem;
    width: 30rem;
    padding: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0px 5px 8px 1px rgba(0, 0, 0, 0.83);
    -webkit-box-shadow: 0px 5px 8px 1px rgba(0, 0, 0, 0.83);
    -moz-box-shadow: 0px 5px 8px 1px rgba(0, 0, 0, 0.83);
}

#slider-card h3 {
    font-family: monospace;
}

.slider-bg-silver {
    background: rgb(192, 192, 192);
    background: linear-gradient(330deg, rgba(129, 134, 135, 1) 34%, #eaeae9 92%);
    /* background-image: url(../img/bg-card-silver.jpg);
    background-size: cover; */
}

.slider-bg-gold {
    background: rgb(255, 215, 0);
    background: linear-gradient(330deg, #FFD700 34%, #eaeae9 92%);
    /* background-image: url(../img/green-bg-card.jpg);
    background-size: cover; */
}

.slider-bg-titanum {
    background: rgb(129, 134, 135);
    background: linear-gradient(330deg, rgba(129, 134, 135, 1) 34%, #00845F 92%);
    /* background-image: url(../img/pxfuel.jpg);
    background-size: cover; */
    /* color: white; */
}

.visa-chip {
    width: 3rem;
    object-fit: contain;
}

.visa-logo {
    width: 5rem;
    object-fit: contain;
}

.details {
    width: 30rem;
    height: auto;
    border-radius: 1rem;
    /* border: 2px solid gray; */
    background: linear-gradient(174deg, #e6f0ed 0%, #046b4c 100%, rgba(0, 0, 0, 1) 100%);
    box-shadow: 0px 5px 8px 1px rgba(0, 0, 0, 0.83);
    -webkit-box-shadow: 0px 5px 8px 1px rgba(0, 0, 0, 0.83);
    -moz-box-shadow: 0px 5px 8px 1px rgba(0, 0, 0, 0.83);
}

.details p {
    margin: 0;
}

.details-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding: 2px;
}

@media only screen and (min-width:320px) and (max-width:420px) {
    #slider-card {
        width: auto;
        padding: 0 !important;
    }

    header {
        height: 10vh;
    }

    main {
        min-height: 80vh;
    }

    footer {
        height: 10vh;
    }

    .details {
        width: 100%;
    }

    .details-info {}

    .logo {
        width: 7rem;
    }
}

@media only screen and(min-width: 425px) and (max-width:768px) {}