@import url('https://fonts.googleapis.com/css?family=Space+Mono:400,400i,700,700i');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h3{
    margin: 0!important;
}

body {
    background-color: #BFCCB5;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3CradialGradient id='a' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%237C96AB'/%3E%3Cstop offset='1' stop-color='%23BFCCB5'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='750' x2='1550' y2='750'%3E%3Cstop offset='0' stop-color='%239eb1b0'/%3E%3Cstop offset='1' stop-color='%23BFCCB5'/%3E%3C/linearGradient%3E%3Cpath id='s' fill='url(%23b)' d='M1549.2 51.6c-5.4 99.1-20.2 197.6-44.2 293.6c-24.1 96-57.4 189.4-99.3 278.6c-41.9 89.2-92.4 174.1-150.3 253.3c-58 79.2-123.4 152.6-195.1 219c-71.7 66.4-149.6 125.8-232.2 177.2c-82.7 51.4-170.1 94.7-260.7 129.1c-90.6 34.4-184.4 60-279.5 76.3C192.6 1495 96.1 1502 0 1500c96.1-2.1 191.8-13.3 285.4-33.6c93.6-20.2 185-49.5 272.5-87.2c87.6-37.7 171.3-83.8 249.6-137.3c78.4-53.5 151.5-114.5 217.9-181.7c66.5-67.2 126.4-140.7 178.6-218.9c52.3-78.3 96.9-161.4 133-247.9c36.1-86.5 63.8-176.2 82.6-267.6c18.8-91.4 28.6-184.4 29.6-277.4c0.3-27.6 23.2-48.7 50.8-48.4s49.5 21.8 49.2 49.5c0 0.7 0 1.3-0.1 2L1549.2 51.6z'/%3E%3Cg id='g'%3E%3Cuse href='%23s' transform='scale(0.12) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.2) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.25) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(0.3) rotate(-20)'/%3E%3Cuse href='%23s' transform='scale(0.4) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(0.5) rotate(20)'/%3E%3Cuse href='%23s' transform='scale(0.6) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.7) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.835) rotate(-40)'/%3E%3Cuse href='%23s' transform='scale(0.9) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(1.05) rotate(25)'/%3E%3Cuse href='%23s' transform='scale(1.2) rotate(8)'/%3E%3Cuse href='%23s' transform='scale(1.333) rotate(-60)'/%3E%3Cuse href='%23s' transform='scale(1.45) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(1.6) rotate(10)'/%3E%3C/g%3E%3C/defs%3E%3Cg transform='rotate(0 0 0)'%3E%3Cg transform='rotate(0 0 0)'%3E%3Ccircle fill='url(%23a)' r='3000'/%3E%3Cg opacity='0.5'%3E%3Ccircle fill='url(%23a)' r='2000'/%3E%3Ccircle fill='url(%23a)' r='1800'/%3E%3Ccircle fill='url(%23a)' r='1700'/%3E%3Ccircle fill='url(%23a)' r='1651'/%3E%3Ccircle fill='url(%23a)' r='1450'/%3E%3Ccircle fill='url(%23a)' r='1250'/%3E%3Ccircle fill='url(%23a)' r='1175'/%3E%3Ccircle fill='url(%23a)' r='900'/%3E%3Ccircle fill='url(%23a)' r='750'/%3E%3Ccircle fill='url(%23a)' r='500'/%3E%3Ccircle fill='url(%23a)' r='380'/%3E%3Ccircle fill='url(%23a)' r='250'/%3E%3C/g%3E%3Cg transform='rotate(0 0 0)'%3E%3Cuse href='%23g' transform='rotate(10)'/%3E%3Cuse href='%23g' transform='rotate(120)'/%3E%3Cuse href='%23g' transform='rotate(240)'/%3E%3C/g%3E%3Ccircle fill-opacity='0.1' fill='url(%23a)' r='3000'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

.swal2-popup {
    border: 2px solid white !important;
    text-shadow: 4px 4px 16px rgba(0, 0, 0, 0.6);
    background-color: #BFCCB5!important;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%237C96AB'/%3E%3Cstop offset='1' stop-color='%23BFCCB5'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%23B7B7B7' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%23B7B7B7' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.4'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E")!important;
    background-attachment: fixed;
    background-size: cover;
}

body.swal2-shown>[aria-hidden="true"] {
    transition: 0.1s filter;
    filter: blur(10px);
}


nav a {
    text-decoration: none;
    color: black;
    /* text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.6); */
    /* font-weight: bold; */
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
}

.container-fluid {
    display: flex;
    flex-direction: justify-content-between !important;
}

.navbar-nav {
    padding: 10px !important;
    display: flex;
    justify-content: space-between;
}

.nav-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    border-bottom: 4px solid black;
    padding: 10px;
}

.nav-add-card {
    border: 2px solid white;
    padding: 7px;
    box-shadow: 0px 5px 8px 1px rgba(0, 0, 0, 0.83);
    -webkit-box-shadow: 4px 4px 4px -3px rgba(0, 0, 0, 0.83);
    -moz-box-shadow: 0px 5px 8px 1px rgba(0, 0, 0, 0.83);
}

.icon-add-card {
    object-fit: cover;
    width: 2rem;
}

.icon-nav-link {
    border-radius: 10%;
    color: white;
    border: 2px solid white;
    display: flex;
    align-items: center;
    padding: 0.5rem;
    gap: 0.5rem;
}

svg {
    color: black;
    width: 2rem !important;
    height: 2rem !important;
}

.img-card-girl{
    width: 25rem!important;
    object-fit: cover;
    border: none;
}

.warning{
    color: red;
    font-size: 15px;
    margin: 0;
}

.trash-icon-card{
    width: 1.2rem!important;
    cursor: pointer;
}

.icon-transfer {
    width: 2rem;
    height: 2.2rem;
    color: white;
    margin-bottom: 8px;
}

.logo {
    /* position: absolute; */
    width: 8rem;
    right: 0;
    height: 5rem;
    /* padding: 5px; */
    object-fit: cover;
    display: flex;
    align-self: flex-start;
}

main {
    min-height: 80vh;
    /* background-image: url(../img/pattern-bg.png); */
}

.title-debit-card {
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.6);
    /* font-family: 'Patua One', cursive; */
    color: black;
    display: flex;
    justify-content: center;
}

.btn-primary {
    color: white !important;
    border: 2px solid #FFFF !important;
    background: linear-gradient(353deg, #7C96AB 29%, #BFCCB5 100%);
}

#slider-card {
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 18rem;
    width: 30rem;
    padding: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0px 5px 8px 1px rgba(0, 0, 0, 0.83);
    -webkit-box-shadow: 0px 5px 8px 1px rgba(0, 0, 0, 0.83);
    -moz-box-shadow: 0px 5px 8px 1px rgba(0, 0, 0, 0.83);
}

#slider-card h3 {
    /* font-family: monospace; */
    font-family: 'Roboto', sans-serif;
}

.slider-bg-silver {
    background: rgb(192, 192, 192);
    background: linear-gradient(330deg, #c0c0c0 34%, #BFCCB592);
    /* background-image: url(../img/bg-card-silver.jpg);
    background-size: cover; */
}

.slider-bg-gold {
    background: rgb(255, 215, 0);
    background: linear-gradient(330deg, #FFD700 34%, #7C96AB 92%);
    /* background-image: url(../img/green-bg-card.jpg);
    background-size: cover; */
}

.slider-bg-titanum {
    background: rgb(129, 134, 135);
    background: linear-gradient(330deg, rgba(129, 134, 135, 1) 34%, #7C96AB 92%);
    /* background-image: url(../img/pxfuel.jpg);
    background-size: cover; */
    /* color: white; */
}

.visa-chip {
    width: 3rem;
    object-fit: contain;
}

.visa-logo {
    width: 5rem;
    object-fit: contain;
}

.details {
    width: 30rem;
    height: auto;
    border-radius: 1rem;
    box-shadow: 0px 5px 8px 1px rgba(0, 0, 0, 0.83);
    -webkit-box-shadow: 0px 5px 8px 1px rgba(0, 0, 0, 0.83);
    -moz-box-shadow: 0px 5px 8px 1px rgba(0, 0, 0, 0.83);
    background-color: #7C96AB;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpath fill='%237ea3b0' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%2387afb2' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%2396bab2' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%23a9c3b2' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%23BFCCB5' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%23bdc8b5' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%23bcc4b6' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%23babfb6' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%23b9bbb7' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%23B7B7B7' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

.details p {
    margin: 0;
}

.details-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
    padding: 2px;
}

.hidden {
    overflow: hidden;
}

.center1 {
    height: 100vh;
    background-color: #161a1e;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lds-facebook {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
}

.lds-facebook div {
    display: inline-block;
    position: absolute;
    left: 8px;
    width: 16px;
    background: #fff;
    animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds-facebook div:nth-child(1) {
    left: 8px;
    animation-delay: -0.24s;
}

.lds-facebook div:nth-child(2) {
    left: 32px;
    animation-delay: -0.12s;
}

.lds-facebook div:nth-child(3) {
    left: 56px;
    animation-delay: 0;
}

@keyframes lds-facebook {
    0% {
        top: 8px;
        height: 64px;
    }

    50%,
    100% {
        top: 24px;
        height: 32px;
    }
}

@media only screen and (min-width:320px) and (max-width:420px) {
    #slider-card {
        width: auto;
        padding: 2 !important;
    }

    main {
        min-height: 80vh;
    }

    footer {
        height: 10vh;
    }
    .details {
        width: 100%;
    }
    .logo { 
        width: 7rem;
    }
    .img-card-girl{
        width: 18rem!important;
    }
}

@media only screen and (min-width:421px) and (max-width:490px) {
    #slider-card {
        width: 25rem;
        padding: 2 !important;
    }

    main {
        min-height: 80vh;
    }

    footer {
        height: 10vh;
    }
    .details {
        width: 100%;
    }
    .logo {
        width: 7rem;
    }
    .img-card-girl{
        width: 20rem;
    }
}

@media only screen and (min-width:1400px){ 
    .navbar-collapse{
        width: auto!important;
        flex-grow: 0!important;
    }
    .navbar-nav{
        margin-top: 0!important;
    }
    .container-fluid{
        justify-content: center!important;
    }
    .logo{
        position: absolute;
        align-self: flex-start!important;
        left: 0;
    }
    header{
        height: 10vh;
    }
}
