* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    overflow-x: hidden;
    background-image: url(../img/background-bg.jpg);
    background-size: cover;
}


header {
    height: 10vh;
    background: rgb(135, 134, 129);
    background: linear-gradient(353deg, #00845F 29%, #72D384 100%);
    /* border-bottom-left-radius: 50% 20%;
    border-bottom-right-radius: 50% 20%; */
}

nav a {
    text-decoration: none;
    color: white;
}

.nav-item {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

svg {
    color: white;
}

.icon-nav-link {
    border-radius: 10%;
    color: white;
    border: 2px solid white;
    display: flex;
    align-items: center;
    padding: 0.5rem;
    gap: 0.5rem;
}

.logo {
    width: 8rem;
    height: 5rem;
    padding: 5px;
    object-fit: cover;
}

main {
    min-height: 80vh;
}

[v-cloak] {
    display: none;
}

#slider-card {
    border: 2px solid black;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 18rem;
    width: 30rem;
    padding: 1.5rem;
    border-radius: 0.5rem;
    box-shadow: 0px 5px 8px 1px rgba(0, 0, 0, 0.83);
    -webkit-box-shadow: 0px 5px 8px 1px rgba(0, 0, 0, 0.83);
    -moz-box-shadow: 0px 5px 8px 1px rgba(0, 0, 0, 0.83);
    background-color: #007B57;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 2 1'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(126,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23007B57'/%3E%3Cstop offset='1' stop-color='%2317A271'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='0' y2='1' gradientTransform='rotate(118,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%2372D384' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%2372D384' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='2' y2='2' gradientTransform='rotate(60,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%2372D384' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%2372D384' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='2' height='1'/%3E%3Cg fill-opacity='0.65'%3E%3Cpolygon fill='url(%23b)' points='0 1 0 0 2 0'/%3E%3Cpolygon fill='url(%23c)' points='2 1 2 0 0 0'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
    margin-top: 2rem;
}

.slider-bg-silver {
    background: rgb(192, 192, 192)!important;
    background: linear-gradient(330deg, rgba(129, 134, 135, 1) 34%, #eaeae9 92%)!important;
    /* background-image: url(../img/bg-card-silver.jpg);
    background-size: cover; */
}

.slider-bg-gold {
    background: rgb(255, 215, 0)!important;
    background: linear-gradient(330deg, #FFD700 34%, #eaeae9 92%)!important;
    /* background-image: url(../img/green-bg-card.jpg);
    background-size: cover; */
}

.slider-bg-titanum {
    background: rgb(129, 134, 135)!important;
    background: linear-gradient(330deg, rgba(129, 134, 135, 1) 34%, #00845F 92%)!important;
    /* background-image: url(../img/pxfuel.jpg);
    background-size: cover; */
    /* color: white; */
}

.visa-chip {
    width: 3rem;
    object-fit: contain;
}

.visa-logo {
    width: 5rem;
    object-fit: contain;
}

#form-data-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    gap: 3rem;
    border: 2px solid white;
    padding: 1rem;
    box-shadow: 0px 5px 8px 1px rgba(0, 0, 0, 0.83);
    -webkit-box-shadow: 0px 5px 8px 1px rgba(0, 0, 0, 0.83);
    -moz-box-shadow: 0px 5px 8px 1px rgba(0, 0, 0, 0.83);
    background-color: #007B57;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 2 1'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='1' gradientTransform='rotate(126,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%23007B57'/%3E%3Cstop offset='1' stop-color='%2317A271'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='0' y2='1' gradientTransform='rotate(118,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%2372D384' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%2372D384' stop-opacity='1'/%3E%3C/linearGradient%3E%3ClinearGradient id='c' gradientUnits='userSpaceOnUse' x1='0' y1='0' x2='2' y2='2' gradientTransform='rotate(60,0.5,0.5)'%3E%3Cstop offset='0' stop-color='%2372D384' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%2372D384' stop-opacity='1'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='2' height='1'/%3E%3Cg fill-opacity='0.65'%3E%3Cpolygon fill='url(%23b)' points='0 1 0 0 2 0'/%3E%3Cpolygon fill='url(%23c)' points='2 1 2 0 0 0'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
}

#form-data-card h3 {
    text-shadow: 4px 4px 16px rgba(0, 0, 0, 0.6);
    text-decoration: underline;
    font-family: 'Patua One', cursive;
}


.container-input-type {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2rem;
    font-size: 20px;
}

.container-input {
    display: flex;
    gap: 2rem;
}

.container-select-color {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
}

.btn-primary {
    background-color: #509e5e !important;
}